body
  background: #cbcbcb url('../img/img-noise-100x100.jpg') repeat
  color: #343434
  font-family: 'Verdana', sans-serif

  .btn
    background-color: #dbdbdb
    border: 1px solid #c0c0c0
    color: #3c3c3c

    &.btn-green
      background-color: #50e558
      border-color: #3ba641
      color: #122d12
