$command-border-color: #888
$command-border-radius: 10px

.command-group-section
  border: 1px solid $command-border-color
  border-radius: $command-border-radius
  padding: 0
  margin: 28px 10px 50px

  .command-group-title
    padding: 15px
    font-size: 17pt
    background-color: #e6e6e6
    border-radius: $command-border-radius $command-border-radius 0 0
    font-weight: lighter

    .load-icon, .error-icon
      float: right
      display: none

    .load-icon
      color: #005b84

    .error-icon
      color: #840000

  .command-section
    border-top: 1px solid $command-border-color
    background-color: #dbdada
    display: flex
    overflow: hidden
    line-height: 39px

    &:last-child
      border-radius: 0 0 $command-border-radius $command-border-radius

    .command-status
      padding: 10px
      padding-left: 17px
      border-right: 1px solid #000
      text-align: left
      text-transform: uppercase

      &.command-status-unknown, &.command-status-starting
        background-color: #5294c4
        border-color: #4185a6

      &.command-status-success, &.command-status-running, &.command-status-done
        background-color: #46c44d
        border-color: #3ba641

      &.command-status-error, &.command-status-not_running, &.command-status-failed
        background-color: #c24242
        border-color: #a63434

    .command-actions
      padding: 0
      vertical-align: middle

      .command-action
        padding: 10px
        width: 100%
        border-radius: 0
        border: none
        height: 100%
        text-align: center
        line-height: inherit
        text-transform: uppercase
        box-shadow: 10px 0px 9px 9px #2d2c2c

        &.command-action-slider
          position: relative
          box-shadow: 0px 0px 5px 2px #00000052
