<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="{{ MEDIA_URL }}{{ config.SITE_ICON }}">

  <title>Church Command Center</title>

  <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
</head>

<body>
<div id="wrapper">
  <div id="content">
    {% block content %}{% endblock %}
  </div>

</div>
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% block custom_body_scripts %}{% endblock %}
{% block scripts %}{% endblock %}
</body>
</html>