{% extends "base.html" %}

{% block content %}
  <section class="container col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3" id="index">
    <h1>Rehoboth Command Center</h1>


    <div class="command-group-section row">
      <div class="command-group-title">
        KerkTV Camera Stream

        <i class="fas fa-sync-alt fa-spin load-icon" id="camera-stream-load-icon" title="Refreshing"></i>
        <i class="fas fa-times error-icon" id="camera-stream-error-icon" title="Error"></i>
      </div>

      <div class="command-section">
        <div class="command-status command-status-unknown col-xs-8" id="command-camera-stream-status">
          UNKNOWN
        </div>
        <div class="command-actions col-xs-4">
          <button type="button"
                  title="Start KerkTV Camera Stream"
                  id="command-camera-stream-action-start"
                  class="command-action command-action-slider btn btn-default">
            START
          </button>
        </div>
      </div>
    </div>


    <div class="command-group-section row">
      <div class="command-group-title">
        OBS Scene Timer

        <i class="fas fa-sync-alt fa-spin load-icon" id="scene-timer-load-icon" title="Refreshing"></i>
        <i class="fas fa-times error-icon" id="scene-timer-error-icon" title="Error"></i>
      </div>

      <div class="command-section">
        <div class="command-status command-status-unknown col-xs-8" id="command-scene-timer-status">
          UNKNOWN
        </div>
        <div class="command-actions col-xs-4">
          <button type="button"
                  title="Start OBS Scene Timer"
                  id="command-scene-timer-action-start"
                  class="command-action command-action-slider btn btn-default">
            START
          </button>
        </div>
      </div>
    </div>


    <div class="command-group-section row">
      <div class="command-group-title">
        Raspberry PI

        <i class="fas fa-sync-alt fa-spin load-icon" id="raspberrypi-load-icon" title="Refreshing"></i>
        <i class="fas fa-times error-icon" id="raspberrypi-error-icon" title="Error"></i>
      </div>

      <div class="command-section">
        <div class="command-status command-status-unknown col-xs-8 command-raspberrypi-status">
          UNKNOWN
        </div>
        <div class="command-actions col-xs-4">
          <button type="button"
                  title="Reboot Raspberry PI"
                  id="command-raspberrypi-action-reboot"
                  class="command-action command-action-slider btn btn-default">
            REBOOT
          </button>
        </div>
      </div>

      <div class="command-section">
        <div class="command-status command-status-unknown col-xs-8 command-raspberrypi-status">
          UNKNOWN
        </div>
        <div class="command-actions col-xs-4">
          <button type="button"
                  title="Shutdown Raspberry PI"
                  id="command-raspberrypi-action-shutdown"
                  class="command-action command-action-slider btn btn-default">
            SHUTDOWN
          </button>
        </div>
      </div>
    </div>


    <div class="command-group-section row">
      <div class="command-group-title">
        Church Command Center

        <i class="fas fa-sync-alt fa-spin load-icon" id="ccc-load-icon" title="Refreshing"></i>
        <i class="fas fa-times error-icon" id="ccc-error-icon" title="Error"></i>
      </div>

      <div class="command-section">
        <div class="command-status command-status-unknown col-xs-8" id="command-ccc-update-status">
          UNKNOWN
        </div>
        <div class="command-actions col-xs-4">
          <button type="button"
                  title="Update"
                  id="command-ccc-update"
                  class="command-action command-action-slider btn btn-default">
            UPDATE
          </button>
        </div>
      </div>
    </div>

  </section>
{% endblock %}

{% block custom_body_scripts %}
  <script>
      window.indexPage();
  </script>
{% endblock %}
