{% extends "base.html" %}

{% block content %}
  <section class="container" id="dashboard">
  <h3>KerkTV Camera Stream</h3>
  <p>Status: <strong>{{ "OK" if is_running else "Nope" }}</strong></p>

    <strong>Status message:</strong>
  <p>
    <pre>{{ output }}</pre>
  </p>
  </section>
{% endblock %}
